version: '3.8'

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: log_platform_db
    networks:
      - data_net
    volumes:
      - db_data:/var/lib/postgresql/data
    deploy:
      replicas: 1

  keycloak:
    image: quay.io/keycloak/keycloak:22.0
    command: start-dev --import-realm
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    volumes:
      - ./keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json
    ports:
      - "8080:8080"
    networks:
      - public_net
    deploy:
      replicas: 1

  dashboard-backend:
    build: ./dashboard_service
    image: dashboard-service:v1
    environment:
      DATABASE_URL: postgresql://admin:password@postgres:5432/log_platform_db
      KEYCLOAK_URL: http://keycloak:8080/realms/log-realm
      CLIENT_ID: log-client
      CLIENT_SECRET: secret
    ports:
      - "8000:8000"
    networks:
      - public_net
      - data_net
    depends_on:
      - postgres
      - keycloak
    deploy:
      replicas: 1

  log-ingestor:
    build: ./ingestor_service
    image: ingestor-service:v1
    ports:
      - "8001:8000"
    networks:
      - public_net
      - stream_net
    deploy:
      replicas: 2

networks:
  public_net:
    driver: overlay
    attachable: true
  data_net:
    driver: overlay
  stream_net:
    driver: overlay

volumes:
  db_data: